<StackLayout class="cntnr">
    <!-- TODO: use app-modal -->
    
    <StackLayout *ngIf="availableOptions.length">
        <ListPicker #picker [items]="availableOptions"
                    [selectedIndex]="selectedIndex"
                    (selectedIndexChange)="selectedIndexChanged(picker.selectedIndex)">
        </ListPicker>

        <Button class="button-action" (tap)="onDone()" text="Select"></Button>
    </StackLayout>

    <StackLayout *ngIf="!availableOptions.length">
        <Label text="No items to choose from"></Label>
        <Button (tap)="onDone()" text="Close"></Button>
    </StackLayout>
</StackLayout>
