<StackLayout class="cntnr">
    <ActionBarExtension>
        <ActionItem>
            <Label text="Events"></Label>
        </ActionItem>
        <ActionItem (tap)="onAdd()" *ngIf="canAdd"
            ios.systemIcon="4" android.systemIcon="ic_menu_add"
            ios.position="right">
        </ActionItem>
    </ActionBarExtension>
    <TabView *ngIf="initialized" #tabview [selectedIndex]="0" sdkExampleTitle sdkToggleNavButton tabsBackgroundColor="#F4550F" selectedTabTextColor="#fff" tabTextColor="#ccc" selectedColor="#eee">
        <StackLayout *tabItem="{ title: 'Upcoming' }" class="main-container">
            <event-list [events]="upcomingEvents | async" (onEventTap)="showDetails($event)"></event-list>
        </StackLayout>
        <StackLayout *tabItem="{ title: 'Past' }" class="main-container">
            <event-list [events]="pastEvents | async" (onEventTap)="showDetails($event)"></event-list>
        </StackLayout>
    </TabView>

    <ActivityIndicator [busy]="!initialized" [visibility]="initialized ? 'collapse' : 'visible'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</StackLayout>
