<ScrollView class="cntnr">
    <ActionBarExtension>
        <ActionItem (tap)="onAdd()" *ngIf="canAdd" ios.position="right">
            <StackLayout>
                <Label class="button if" text="&#x61;"></Label>
            </StackLayout>
        </ActionItem>
    </ActionBarExtension>

    <TabView *ngIf="initialized" #tabview [selectedIndex]="0" class="tab-view" tabsBackgroundColor="#F4550F" selectedTabTextColor="#fff" tabTextColor="#ccc" selectedColor="#eee">
        <StackLayout *tabItem="{ title: 'Upcoming' }" class="main-container">
            <event-list *ngIf="upcomingEvents.length" [events]="upcomingEvents" (onEventTap)="showDetails($event)"></event-list>

            <StackLayout *ngIf="!upcomingEvents.length" class="no-items">
                <Label text="No upcoming events" [textWrap]="true"></Label>
                <Label [nsRouterLink]="['/groups']" text="To Groups" class="btn btn-primary"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{ title: 'Past' }" class="main-container">
            <event-list *ngIf="pastEvents.length" [events]="pastEvents" (onEventTap)="showDetails($event)"></event-list>

            <StackLayout *ngIf="!pastEvents.length" class="no-items">
                <Label text="No past events" [textWrap]="true"></Label>
            </StackLayout>
        </StackLayout>
    </TabView>

    <ScrollView class="cntnr">
        <ActivityIndicator [busy]="!initialized" [visibility]="initialized ? 'collapse' : 'visible'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </ScrollView>
</ScrollView>

