<StackLayout class="main-container">
    <ListView [items]="events" (itemTap)="showDetails($event)" class="list-events">
        <template let-event="item">
            <StackLayout>
                <Label [text]="event.Name" class="event-name"></Label>
                <StackLayout orientation="horizontal" class="event-date-wrp">
                    <Label *ngIf="getEventDate(event)" [text]="getEventDate(event) | date:dateFormat | uppercase" class="event-date"></Label>
                    <Label [text]="getRemainingTime(event)" class="event-remaining-time"></Label>
                </StackLayout>
                <Image *ngIf="event.Image" src="{{event.ImageUrl}}"></Image>
                <Label [text]="event.Description" textWrap="true" class="event-description"></Label>
                <StackLayout class="event-organiser">
                    <Label [text]="event.Organizer.DisplayName + ' | '"></Label>
                    <Label [text]="event.Group"></Label>
                </StackLayout>
            </StackLayout>
        </template>
    </ListView>
</StackLayout>