<ScrollView class="cntnr">
    <StackLayout>
        <loading-screen hideElement="hideonloading"></loading-screen>
        <StackLayout id="hideonloading" *ngIf="requests">
            <ActionBarExtension>
                <NavigationButton *ngIf="isAndroid" icon="res://icon_back" (tap)="onBack()"></NavigationButton>
                <ActionItem *ngIf="!isAndroid && hasResolvedSome" ios.systemIcon="1" ios.position="left" (tap)="onBack()">
                    <StackLayout class="ios-back-btn" orientation="horizontal">
                        <Image class="icon" src="res://icon_back"></Image>
                        <label text="Groups"></label>
                    </StackLayout>
                </ActionItem>
            </ActionBarExtension>
            <StackLayout class="content">
                <Label class="info-label" text="Waiting for approval"></Label>
                <GridLayout columns="*, 75" *ngFor="let req of requests" class="item">
                    <StackLayout col="0" orientation="horizontal">
                        <user-display class="user-display" [users]="req.Applicant" [showNames]="true"></user-display>
                        <Label class="time-since-creation" [text]="getTimeSinceCreation(req.CreatedAt)"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="resolve" *ngIf="!req.Resolved" orientation="horizontal">
                        <StackLayout class=" btn-resolve no" (tap)="resolve(req, false)">
                            <Label class="if" text="&#x41;"></Label>
                        </StackLayout>
                        <StackLayout class="btn-resolve yes" (tap)="resolve(req, true)">
                            <Label class="if" text="&#x4c;"></Label>
                        </StackLayout>
                    </StackLayout>
                    <Label col="1" class="status" *ngIf="req.Resolved" [text]="getApprovalText(req)"></Label>
                </GridLayout>
                <Label *ngIf="hasMore()" class="load-more-btn" (tap)="onLoadMore()" text="Load more..."></Label>

                <Label *ngIf="!requests.length" text="There are no unresolved join requests at this time" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>
