<ScrollView class="cntnr">
    <StackLayout class="info-cntnr">
        <StackLayout class="label-field-pair">
            <Label class="label" text="Name"></Label>
            <TextField class="field" [(ngModel)]="event.Name"></TextField>
        </StackLayout>

        <StackLayout class="label-field-pair">
            <Label class="label" text="Description"></Label>
            <TextView class="field" [(ngModel)]="event.Description" [editable]="true"></TextView>
        </StackLayout>

        <StackLayout class="label-field-pair group with-popup">
            <Label class="label" text="Group"></Label>
            <Label class="field" (tap)="onSelectGroup()" [text]="getSelectedGroupName()" [ngClass]="{ 'not-selected': !event.GroupId }"></Label>
        </StackLayout>

        <StackLayout class="label-field-pair">
            <Label class="label" text="Location Name"></Label>
            <TextField class="field" [(ngModel)]="event.LocationName"></TextField>
        </StackLayout>

        <StackLayout class="label-field-pair">
            <Label class="label" text="Location Url"></Label>
            <TextField class="field" [(ngModel)]="event.LocationURL" keyboardType="url"></TextField>
        </StackLayout>

        <StackLayout class="label-field-pair date with-popup">
            <Label class="label" text="Event Date"></Label>
            <ListView *ngIf="dateOptions && dateOptions.length" [items]="dateOptions" separatorColor="transparent">
                <template let-date="item" let-ind="index">
                    <StackLayout oriention="horizontal">
                        <Image style="width: 20; height: 20;" src="res://remove_iocn" (tap)="removeDateOption(ind)"></Image>
                        <Label class="field" [text]="date | date:dateFormat"></Label>
                    </StackLayout>
                </template>
            </ListView>
            <Label [text]="getSelectDateText()" (tap)="onSelectDate(date)"></Label>
        </StackLayout>

        <StackLayout *ngIf="currentUser" class="label-field-pair user">
            <Label class="label" text="Organizer"></Label>
            <StackLayout orientation="horizontal">
                <Image class="user-image" src="{{getResizedImageUrl(currentUser.ImageUrl)}}"></Image>
                <Label class="user-label" [text]="currentUser.DisplayName || currentUser.Username"></Label>
            </StackLayout>
        </StackLayout>

        <StackLayout class="label-field-pair" orientation="horizontal" (tap)="toggleOpenForRegistration()">
            <Switch [(ngModel)]="event.OpenForRegistration"></Switch>
            <Label text="Open for Registration"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>
