<StackLayout class="cntnr" id="dismissableAnchor">
    <photo-picker class="event-image" [(url)]="event.ImageUrl" [type]="'event'" [editable]="true" [noImageText]="event.ImageUrl ? 'Change Photo' : 'Add Photo'" [noImageIcon]="'&#x77;'"></photo-picker>

    <StackLayout class="form info-cntnr">
        <StackLayout class="input-field">
            <Label class="label" text="Name"></Label>
            <TextField [dismissable] class="field" [(ngModel)]="event.Name"></TextField>
        </StackLayout>

        <StackLayout class="input-field">
            <Label class="label" text="Description"></Label>
            <TextView [dismissable] class="field" [(ngModel)]="event.Description" [editable]="true"></TextView>
        </StackLayout>

        <StackLayout class="input-field group with-popup">
            <Label class="label" text="Group"></Label>
            <StackLayout orientation="horizontal" width="100%" class="select-group" (tap)="onSelectGroup()">
                <Label class="field" [text]="getSelectedGroupName()"></Label>
                <Label *ngIf="!isEdit" class="info-icon if" text="&#x64;" horizontalAlignment="right"></Label>
            </StackLayout>
        </StackLayout>

        <StackLayout class="input-field">
            <Label class="label" text="Location Name"></Label>
            <TextView [dismissable] class="field" [(ngModel)]="event.LocationName" [editable]="true"></TextView>
        </StackLayout>

        <StackLayout class="input-field">
            <Label class="label" text="Location Url"></Label>
            <TextField [dismissable] class="field" [(ngModel)]="event.LocationURL" keyboardType="url"></TextField>
        </StackLayout>

        <StackLayout class="input-field date with-popup">
            <Label class="label" text="Event Date"></Label>
            <StackLayout orientation="horizontal" *ngFor="let date of dateOptions; let ind = index" [ngClass]="{ 'border-bottom': !event.RegistrationCompleted }">
                <StackLayout class="remove" *ngIf="!event.RegistrationCompleted" (tap)="removeDateOption(ind)">
                    <Label class="if" text="&#x4d;"></Label>
                </StackLayout>
                <Label class="field" [text]="date | date:dateFormat"></Label>
            </StackLayout>
            <Label *ngIf="event.RegistrationCompleted" class="list-separator" text=""></Label>
            <StackLayout *ngIf="!event.RegistrationCompleted" class="select-date" (tap)="onSelectDate(date)" orientation="horizontal">
                <StackLayout class="add-date" orientation="horizontal">
                    <Label class="if" text="&#x51;"></Label>
                    <Label class="text" text="Add date"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>

        <StackLayout *ngIf="!event.RegistrationCompleted" class="input-field switch-field">
            <Label class="label" text="Visibility"></Label>
            <GridLayout columns="*, 65" class="switch-wrp border-bottom">
                <Label col="0" text="Visible to group members"></Label>
                <Switch col="1" class="switch" [(ngModel)]="event.OpenForRegistration"></Switch>
            </GridLayout>
        </StackLayout>

        <StackLayout *ngIf="currentUser" class="input-field user">
            <Label class="label" text="Organizer"></Label>
            <user-display [users]="currentUser" [showNames]="true"></user-display>
        </StackLayout>
    </StackLayout>
</StackLayout>
