.info-cntnr {
  padding: 15;
}

.label-field-pair {
  margin: 10 0;
}

TextField,
TextView {
  margin-bottom: 20;
  color: #333;
  placeholder-color: transparent;
}

.form .input-field .label {
  color: #888;
}

.user >>> Image {
  width: 30;
  height: 30;
  margin-right: 10;
  border-radius: 25;
}

.user .label {
  margin-bottom: 5;
}

.group .field {
  border-color: #888;
  border-bottom-width: 1;
  min-height: 30;
}
