<StackLayout>
    <ActionBarExtension>
        <NavigationButton *ngIf="isAndroid" icon="res://icon_back" (tap)="onBack()"></NavigationButton>
        <ActionItem *ngIf="!isAndroid" ios.systemIcon="1" ios.position="left" (tap)="onBack()"></ActionItem>
    </ActionBarExtension>

    <StackLayout class="cntnr">
        <event-list *ngIf="events" [events]="events" (onEventTap)="onEventTap($event)"></event-list>
        <ActivityIndicator [busy]="!events" [visibility]="events ? 'collapse' : 'visible'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </StackLayout>
</StackLayout>
