<StackLayout class="cntnr">
    <ActionBarExtension>
    	<NavigationButton *ngIf="isAndroid"android.systemIcon="ic_menu_back" (tap)="onBack()"></NavigationButton>
    	<ActionItem *ngIf="!isAndroid" ios.systemIcon="1" ios.position="left" (tap)="onBack()"></ActionItem>
        <ActionItem>
            <StackLayout class="actionbar-title-wrp">
                <Label [text]="group && group.Name && ('Events for ' + group.Name)" class="actionbar-title"></Label> <!-- ngIf makes it appear on other pages - dunno why :) -->
            </StackLayout>
        </ActionItem>
    </ActionBarExtension>

    <StackLayout *ngIf="events">
        <event-list [events]="events" (onEventTap)="onEventTap($event)"></event-list>
    </StackLayout>

    <ScrollView class="cntnr">
        <ActivityIndicator [busy]="!events" [visibility]="events ? 'collapse' : 'visible'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </ScrollView>
</StackLayout>
