<StackLayout>
    <loading-screen hideElement="hideonloading"></loading-screen>
    <ScrollView id="hideonloading" class="cntnr">
        <ActionBarExtension>
            <NavigationButton *ngIf="isAndroid" icon="res://icon_back" (tap)="onBack()"></NavigationButton>
            <ActionItem *ngIf="!isAndroid && (membershipChanged || !canGoBack())" ios.systemIcon="1" ios.position="left" (tap)="onBack()">
                <StackLayout class="ios-back-btn" orientation="horizontal">
                    <Image class="icon" src="res://icon_back"></Image>
                    <label text="Groups"></label>
                </StackLayout>
            </ActionItem>
            <ActionItem (tap)="onEdit()" *ngIf="canEdit()" ios.position="right">
                <StackLayout>
                    <Label class="button if" text="&#x65;"></Label>
                </StackLayout>
            </ActionItem>

            <ActionItem *ngIf="isAndroid" [visibility]="showIf(canEdit())" (tap)="deleteGroup()" text="Delete Group" android.position="popup"></ActionItem>

            <ActionItem (tap)="toggleActions()" *ngIf="!isAndroid && canEdit()" ios.position="right">
                <StackLayout>
                    <Label class="button if" text="&#x66;"></Label>
                </StackLayout>
            </ActionItem>
        </ActionBarExtension>

        <StackLayout *ngIf="group">

            <photo-picker [url]="group.ImageUrl" [type]="'group'" [noImageIcon]="'&#x77;'" [noImageText]="'No image available'"></photo-picker>

            <Label class="btn btn-primary join-group" *ngIf="showJoinBtn()" [text]="getJoinBtnText()" (tap)="onJoin()"></Label>

            <GridLayout *ngIf="hasJoined === true" class="action-bar" [ngClass]="{ 'admin': !canEdit() }" columns="*, *">
                <StackLayout *ngIf="group.RequiresApproval && canEdit()" class="btn" (tap)="onViewRequests()" col="0">
                    <Label class="btn-icon if" text="&#x6d;"></Label>
                    <Label class="btn-text" text="See requests"></Label>
                </StackLayout>
                <StackLayout class="btn" (tap)="onViewEvents()" [attr.col]="(group.RequiresApproval && canEdit()) ? 1 : 0" [attr.colSpan]="canEdit() ? 2 : 1">
                    <Label class="btn-icon if" text="&#x6b;"></Label>
                    <Label class="btn-text" text="See Events"></Label>
                </StackLayout>
                <StackLayout *ngIf="!canEdit()" class="btn" (tap)="onLeave()" [attr.col]="1">
                    <Label class="btn-icon if" text="&#x76;"></Label>
                    <Label class="btn-text" text="Leave Group"></Label>
                </StackLayout>
            </GridLayout>

            <StackLayout class="info-container">
                <StackLayout class="approval-status" orientation="horizontal" *ngIf="!hasJoined && !!userApplication">
                    <Label class="if approval-icon" [text]="getApplicationStatusIcon()"></Label>
                    <Label class="approval-text" [text]="getApplicationStatusText()" textWrap="true"></Label>
                </StackLayout>

                <StackLayout class="info-wrapper">
                    <Label class="info-label" text="Description"></Label>
                    <Label class="info-value" [text]="group.Description" [textWrap]="true"></Label>
                </StackLayout>

                <StackLayout class="info-wrapper members-wrapper" (tap)="onMembersTap()">
                    <Label class="info-label" text="Members"></Label>
                    <GridLayout columns="*, auto" *ngIf="members.length">
                        <StackLayout col="0" class="user-display-wrp">
                            <user-display [users]="members" [withImages]="5" class="user-display"></user-display>
                        </StackLayout>
                        <Label class="info-icon if" text="&#x64;" col="1"></Label>
                    </GridLayout>
                    <Label *ngIf="!members.length" text="Group has no members, yet." class="info-value"></Label>
                </StackLayout>

                <StackLayout class="info-wrapper no-separator">
                    <Label class="info-label" text="Details"></Label>
                    <Label class="info-value" [text]="getDetailsText()" [textWrap]="true"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>

        <ScrollView>
            <ActivityIndicator [busy]="!group" [visibility]="group ? 'collapse' : 'visible'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
        </ScrollView>
    </ScrollView>
</StackLayout>
