.ctnr {
    background-color: white;
    height: 100%;

    /*transform: translateY(-25);*/
}

.info-container {
    padding: 15;
}

.action-bar .btn {
    width: 50%;
    height: 50;
    background-color: #ddd;
}

.info-wrapper {
    margin: 15 0 0 0;
    padding-bottom: 15;
    
    border-width: 0;
    border-bottom-width: 2;
    border-color: #ccc;
}

.info-wrapper .info-label {
    color: #F4550F;
    text-transform: uppercase;
}

.info-wrapper .info-value {
    color: #000;
}

.info-wrapper.no-separator {
    border-width: 0;
}

.user-image {
    width: 30;
    height: 30;
    border-radius: 100%;
}
