<StackLayout>
    <ScrollView class="ctnr">
        <ActionBarExtension>
            <NavigationButton *ngIf="isAndroid" icon="res://icon_back" (tap)="onBack()"></NavigationButton>
            <ActionItem *ngIf="!isAndroid" ios.systemIcon="1" ios.position="left" (tap)="onBack()"></ActionItem>
            <ActionItem (tap)="onEdit()" *ngIf="canEdit()" ios.position="right">
                <StackLayout>
                    <Label class="button if" text="&#x65;"></Label>
                </StackLayout>
            </ActionItem>

            <ActionItem *ngIf="isAndroid" [visibility]="showIf(canEdit())" ios.systemIcon="16" (tap)="deleteGroup()" ios.position="right" text="Delete Group" android.position="popup"></ActionItem>

            <ActionItem *ngIf="!isAndroid" (tap)="toggleIosPopup()" ios.systemIcon="9" ios.position="right"></ActionItem>
        </ActionBarExtension>

        <StackLayout *ngIf="group">
            <StackLayout *ngIf="!isAndroid && iosPopupOpen">
                <Label *ngIf="canEdit()" (tap)="deleteGroup()" text="Delete Group"></Label>
            </StackLayout>

            <photo-picker [url]="group.ImageUrl" [type]="'group'" [noImageIcon]="'&#x77;'" [noImageText]="'No image available'"></photo-picker>

            <Label class="btn btn-primary join-group" *ngIf="hasJoined === false" [text]="getJoinBtnText()" (tap)="onJoin()"></Label>

            <GridLayout *ngIf="hasJoined === true" class="action-bar" [ngClass]="{ 'admin': !canEdit() }" [attr.columns]="(canEdit() && group.RequiresApproval) ? '*, *, *' : '*, *'">
                <StackLayout *ngIf="group.RequiresApproval && canEdit()" class="btn" (tap)="onViewRequests()" col="0">
                    <Label class="btn-icon if" text="&#x6d;"></Label>
                    <Label class="btn-text" text="See requests"></Label>
                </StackLayout>
                <StackLayout class="btn" (tap)="onViewEvents()" [attr.col]="(canEdit() && group.RequiresApproval) ? 1 : 0">
                    <Label class="btn-icon if" text="&#x6b;"></Label>
                    <Label class="btn-text" text="See Events"></Label>
                </StackLayout>
                <StackLayout class="btn" (tap)="onLeave()" [attr.col]="(canEdit() && group.RequiresApproval) ? 2 : 1">
                    <Label class="btn-icon if" text="&#x76;"></Label>
                    <Label class="btn-text" text="Leave Group"></Label>
                </StackLayout>
            </GridLayout>

            <StackLayout class="info-container">
                <StackLayout class="info-wrapper">
                    <Label class="info-label" text="Description"></Label>
                    <Label class="info-value" [text]="group.Description" [textWrap]="true"></Label>
                </StackLayout>

                <StackLayout class="info-wrapper members-wrapper" (tap)="onMembersTap()">
                    <Label class="info-label" text="Members"></Label>
                    <user-display *ngIf="members.length" [users]="members" [withImages]="5"></user-display>
                    <Label *ngIf="!members.length" text="Group has no members, yet." class="info-value"></Label>
                </StackLayout>

                <StackLayout class="info-wrapper no-separator">
                    <Label class="info-label" text="Details"></Label>
                    <Label class="info-value" [text]="getDetailsText()" [textWrap]="true"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>

        <ScrollView>
            <ActivityIndicator [busy]="!group" [visibility]="group ? 'collapse' : 'visible'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
        </ScrollView>
    </ScrollView>
</StackLayout>
