.ctnr {
  background-color: #fff;
  height: 100%;
}

.info-container {
  padding: 15;
}

.action-bar .btn {
  height: 50;
  margin: 0;
  font-size: 11;
  background-color: #ddd;
  color: #F4550F;
  text-align: center;
}

.info-wrapper {
  margin: 15 0 0 0;
  padding-bottom: 15;
  border-width: 0;
  border-bottom-width: 1;
  border-color: #ADADAD;
}

.info-wrapper .info-label {
  margin-bottom: 5;
  font-size: 12;
  color: #F4550F;
  text-transform: uppercase;
}

.info-wrapper .info-value {
  color: #000;
}

.info-wrapper.no-separator {
  border-width: 0;
}

.members-wrapper >>> Image {
  width: 30;
  height: 30;
  margin-right: 5;
  border-radius: 25;
}

.join-group {
  margin: 15;
}
