<ScrollView class="ctnr">
    <ActionBarExtension>
        <ActionItem>
            <Label [text]="group && group.Name"></Label>
        </ActionItem>
        <ActionItem (tap)="onEdit()" *ngIf="canEdit()"
            ios.systemIcon="2" android.systemIcon="ic_menu_edit"
            ios.position="right">
        </ActionItem>
    </ActionBarExtension>
    <StackLayout *ngIf="group">
        <Image *ngIf="group.ImageUrl" src="{{getResizedImageUrl(group.ImageUrl)}}"></Image>

        <Button class="button-action" *ngIf="!hasJoined" [text]="getJoinBtnText()" (tap)="onJoin()"></Button>

        <StackLayout *ngIf="hasJoined" orientation="horizontal" class="action-bar">
            <Label class="btn" text="See Events" (tap)="onViewEvents()"></Label>
            <Label class="btn" text="Leave Group" (tap)="onLeave()"></Label>
        </StackLayout>

        <StackLayout class="info-container">
            <StackLayout class="info-wrapper">
                <Label class="info-label" text="Description"></Label>
                <Label class="info-value" [text]="group.Description" [textWrap]="true"></Label>
            </StackLayout>

            <StackLayout class="info-wrapper">
                <Label class="info-label" text="Members"></Label>
                <WrapLayout *ngIf="members.length">
                    <Image *ngFor="let user of members.slice(0, 5)" src="{{getResizedImageUrl(user.ImageUrl, { width: 60, height: 60 })}}" class="user-image"></Image>
                    <Label *ngIf="getRemainingText()" [text]="getRemainingText()"></Label>
                </WrapLayout>
                <Label *ngIf="!members.length" text="Group has no members, yet." class="info-value"></Label>
            </StackLayout>
            
            <StackLayout class="info-wrapper no-separator">
                <Label class="info-label" text="Details"></Label>
                <Label class="info-value" [text]="getDetailsText()" [textWrap]="true"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>

    <ActivityIndicator [busy]="!group" [visibility]="group ? 'collapse' : 'visible'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</ScrollView>
