.main-container {
  height: 100%;
  background-color: #fff;
}

.list-events {
  height: 100%;
}

.event-name-wrp,
.event-date-wrp,
.event-description,
.event-organiser,
.event-list-separator {
  margin: 10 20;
}

.event-date-wrp,
.event-organiser {
  font-size: 14;
  color: #ADADAD;
}

.event-name,
.registered-label {
  vertical-align: middle;
}

.event-name {
  margin-right: 5;
  margin-bottom: 0;
  font-size: 26;
  color: #F4550F;
}

.ribbon {
  height: 20;
  margin-top: 2;
  color: #F4550F;
  font-size: 12;
}

.ribbon-left,
.ribbon-middle,
.ribbon-right {
  background-repeat: no-repeat;
  background-size: contain;
}

.ribbon-left {
  background-image: url("res://background_registered_label_list_left");
}

.ribbon-middle {
  padding-top: 1;
  background-image: url("res://background_registered_label_list_middle");
  background-repeat: repeat-x;
  text-align: center;
}

.ribbon-right {
  background-image: url("res://background_registered_label_list_right");
}

.event-remaining-time {
  horizontal-align: right;
}

.event-organiser {
  margin-bottom: 20;
}

.event-organiser >>> Image,
.event-organiser >>> .user-name,
.group {
  vertical-align: middle;
}

.event-organiser >>> .user-name,
.user-name,
.group {
  color: #9d9d9d;
}

.event-list-separator {
  border-width: 0;
  border-bottom-width: 1;
  border-color: #ebebed;
  height: 1;
}
