.main-container {
  height: 100%;
  background-color: #fff;
}

.list-events {
  height: 100%;
}

.event-name-wrp,
.event-date-wrp,
.event-description,
.event-organiser,
.event-list-separator {
  margin: 10 20;
}

.event-date-wrp,
.event-organiser {
  font-size: 14;
  color: #ADADAD;
}

.event-name,
.registered-label {
  vertical-align: middle;
}

.event-name {
  margin-right: 5;
  margin-bottom: 0;
  font-size: 26;
  color: #F4550F;
}

.registered-label {
  width: 75;
  height: 20;
  margin-top: 5;
  padding: 1 0 0 7;
  color: #F4550F;
  font-size: 12;
  background-image: url("res://background_registered_label_list");
  background-repeat: no-repeat;
  background-size: cover;
}

.event-remaining-time {
  horizontal-align: right;
}

.event-organiser {
  margin-bottom: 20;
}

.event-organiser >>> Image,
.event-organiser >>> .user-name,
.group {
  vertical-align: middle;
}

.event-organiser >>> Image,
.event-organiser >>> .no-image {
  width: 30;
  height: 30;
  margin-right: 5;
  border-radius: 15;
  background-color: rgba(0, 0, 0, .35);
}

.event-organiser >>> .user-name,
.user-name,
.group {
  color: #9d9d9d;
}

.event-list-separator {
  border-width: 0;
  border-bottom-width: 1;
  border-color: #c8c7cc;
  height: 1;
}

.load-more-btn {
  font-size: 24;
}