<StackLayout class="cntnr">
    <ActionBarExtension>
        <ActionItem ios.systemIcon="1" ios.position="left" android.systemIcon="ic_menu_back" (tap)="onCancel()"></ActionItem>
        <ActionItem>
            <Label text="Edit Event"></Label>
        </ActionItem>
        <ActionItem
            ios.systemIcon="0"
            android.systemIcon="ic_menu_save"
            (tap)="save()">
        </ActionItem>
    </ActionBarExtension>
    <ScrollView>
        <StackLayout>
            <editable-event *ngIf="event" [event]="event"></editable-event>
            <Label *ngIf="event" class="btn-delete" text="Delete event" (tap)="delete()"></Label>
        </StackLayout>
    </ScrollView>
</StackLayout>
