<StackLayout class="cntnr">
    <ActionBarExtension>
        <NavigationButton *ngIf="isAndroid" android.systemIcon="ic_menu_back" (tap)="onCancel()"></NavigationButton>
        <ActionItem *ngIf="!isAndroid" ios.systemIcon="1" ios.position="left" (tap)="onCancel()"></ActionItem>
        <ActionItem>
            <Label text="Edit Event"></Label>
        </ActionItem>
        <ActionItem
            ios.systemIcon="0"
            android.systemIcon="ic_menu_save"
            (tap)="save()">
        </ActionItem>
    </ActionBarExtension>
    <ScrollView class="cntnr">
        <StackLayout *ngIf="event">
            <editable-event [event]="event"></editable-event>
            <Label class="btn-delete" text="Delete event" (tap)="delete()"></Label>
        </StackLayout>
        <ScrollView>
            <ActivityIndicator [busy]="!event" [visibility]="event ? 'collapse' : 'visible'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
        </ScrollView>
    </ScrollView>
</StackLayout>
