<ScrollView>
    <StackLayout *ngIf="groups && initialized">
        <StackLayout *ngFor="let group of groups; let isLast = last" (tap)="groupTap(group)">
            <GridLayout columns="65, *, auto" rows="auto, auto" class="group">
                <StackLayout rowSpan="2" row="0" col="0">
                    <photo-picker class="group-image" [url]="group.ImageUrl" [type]="'group'" [small]="true" [noImageIcon]="'&#x77;'"></photo-picker>
                </StackLayout>

                <Label row="0" col="1" [text]="group.Name" class="group-name" textWrap="true"></Label>
                <Label row="1" col="1" [text]="getSubtext(group)" class="group-subtext" textWrap="true"></Label>

                <Label *ngIf="!areUserGroups && !userHasMadeRequest(group.Id)" rowSpan="2" row="0" col="2" [text]="getJoinBtnText(group)" (tap)="onJoin(group)" class="join-btn"></Label>
                <Label *ngIf="!areUserGroups && userRequestIsPending(group.Id)" rowSpan="2" row="0" col="2" text="Pending Approval"></Label>
            </GridLayout>
            <Label class="group-list-separator" text=""></Label>
        </StackLayout>
        <Label *ngIf="hasMore" class="load-more-btn" (tap)="onLoadMore()" text="Load more..."></Label>
    </StackLayout>
</ScrollView>
