.group >>> Image {
  width: 50;
  height: 50;
  margin-right: 15;
}

.group {
  padding: 10 0;
}

.group-name {
  color: #000;
}

.group-subtext {
  font-size: 12;
}

.join-btn {
  background-color: transparent;
  color: #F4550F;
  text-transform: capitalize;
  font-size: 13;
  width: 90;
  margin: 0;
  padding: 6 0;
  border-width: 1;
  border-color: #F4550F;
  border-radius: 3%;
  text-align: center;
  vertical-align: center;
}

.group-list-separator {
  border-width: 0;
  border-bottom-width: 1;
  border-color: #c8c7cc;
  height: 1;
}
