@import '~/css/core.light.css';

Page {
  background-color: #ffffff;
  font-size: 16;
}

ActionBar {
  background-color: #F4550F;
  color: #ffffff;
}

TabView {
  android-selected-tab-highlight-color: rgba(255, 255, 255, .5);
  tab-background-color: #F4550F;
  tab-text-color: rgba(255, 255, 255, .75);
  selected-tab-text-color: #ffffff;
}

TextField,
TextView {
  padding: 10 0;
  margin-bottom: 10;
  font-size: 16;
  border-width: 0 0 1 0;
  border-color: #c8c7cc;
}

ActivityIndicator {
  color: #F4550F;
}

.material-icon {
  font-family: 'Material-Design-Iconic-Font';
}

.switch {
  margin: 14 16 14 0;
  color: #333;
  background-color: #e0e0e0;
}

.switch[checked=true] {
  background-color: #F4550F;
}

.switch[checked=true][isEnabled=false] {
  background-color: #e0e0e0;
  color: #fff;
}

.switch[isEnabled=false] {
  background-color: #e0e0e0;
  color: #e0e0e0;
}

.switch[checked=true] {
  color: #F4550F;
}

.switch .btn-primary.btn-active:highlighted {
  border-color: #F4550F;
  background-color: #F4550F;
}

.switch-field .switch,
.switch-field .label {
  vertical-align: middle;
}

.btn {
  margin: 0 6;
  font-size: 20;
  color: #ffffff;
  text-align: center;
}

.btn-primary {
  background-color: #F4550F;
  border-radius: 1;
}

.btn-small {
  font-size: 16;
}

.no-items {
  padding: 15 30;
}

.no-items Label {
  margin-bottom: 10;
}

.drawer {
  padding: 20;
  background-image: url("res://background");
  background-size: cover;
}

.drawer .btn {
  margin: 0;
  padding: 20 0;
  font-size: 18;
  color: #fff;
  text-align: left;
  background-color: rgba(255, 0, 0, 0.0);
  border-color: rgba(255, 0, 0, 0.0);
  border-width: 1;
}

.drawer .btn-icon,
.drawer .btn-text {
  vertical-align: middle;
}

.drawer .btn-icon {
  width: 50;
  font-size: 26;
  text-align: center;
}

.drawer .logo {
  width: 140;
}

.actionbar-title-wrp {
  width: 60%;
}

.actionbar-title {
  width: 250;
  text-align: right;
  padding-right: 20;
}
