@import '~/css/core.light.css'; 

@import url('~/css/core.light.css');
@import url('~/platform.css');

.if {
  font-family: 'teamup-font';
}

Page {
  background-color: #ffffff;
  font-size: 16;
}

ActionBar {
  background-color: #F4550F;
  color: #ffffff;
}

ActionBar .title,
ActionBar .button,
ActionBar .if {
  height: 26;
  margin: 0 5 0 10;
  text-align: center;
  vertical-align: middle;
}

ActionBar .button {
  margin-right: 10;
}

ActionBar .if {
  height: 26;
  width: 26;
  font-size: 24;
}

TabView {
  android-selected-tab-highlight-color: rgba(255, 255, 255, .5);
  tab-background-color: #F4550F;
  tab-text-color: rgba(255, 255, 255, .75);
  selected-tab-text-color: #ffffff;
}

TextField,
TextView {
  padding: 10 0;
  margin-bottom: 10;
  font-size: 16;
  border-width: 0 0 1 0;
  border-color: #c8c7cc;
}

ActivityIndicator {
  color: #F4550F;
}

.switch-field .switch,
.switch-field .label {
  vertical-align: middle;
}

.input-field.switch-field .label {
  font-size: 16;
  color: #000;
}

.btn {
  margin: 0 6;
  font-size: 20;
  color: #ffffff;
  text-align: center;
}

.btn-primary {
  background-color: #F4550F;
  border-radius: 1;
}

.btn-small {
  font-size: 16;
}

.no-items {
  height: 100%;
  padding: 15 30;
  vertical-align: middle;
  text-align: center;
  background-image: url("res://background_no_image");
  background-color: rgba(0, 0, 0, .05);
}

.no-items .if {
  width: 80;
  height: 80;
  margin-bottom: 30;
  padding-top: 10;
  border-color: #bfbfbf;
  border-width: 2;
  border-radius: 40;
  color: #bfbfbf;
  font-size: 60;
}

.no-items .title {
  margin-bottom: 20;
  font-size: 22;
  font-weight: bold;
}

.no-items Label {
  margin-bottom: 10;
}

.no-items .actions {
  width: 240;
  margin: 50 0 0;
}

.no-items .btn {
  margin: 0;
}

.drawer {
  padding: 20;
  background-image: url("res://background");
  background-size: cover;
}

.drawer .btn {
  margin: 0;
  padding: 20 0;
  font-size: 18;
  color: #fff;
  text-align: left;
  background-color: rgba(255, 0, 0, 0.0);
  border-color: rgba(255, 0, 0, 0.0);
  border-width: 1;
}

.drawer .btn-icon,
.drawer .btn-text {
  vertical-align: middle;
}

.drawer .btn-icon {
  width: 50;
  font-size: 30;
  text-align: center;
}

.drawer .btn-text {
  font-size: 20;
}

.drawer .logo {
  width: 140;
}

.list-separator {
  border-width: 0;
  border-bottom-width: 1;
  border-color: #c8c7cc;
  height: 1;
}
