<ActionBar title="">
    <NavigationButton *ngIf="!disableDrawer && isAndroid" android.systemIcon="ic_menu_sort_by_size" (tap)="toggleDrawer()"></NavigationButton>
    <ActionItem *ngIf="!disableDrawer && !isAndroid" ios.position="left" ios.systemIcon="18" (tap)="toggleDrawer()"></ActionItem>
</ActionBar>
<RadSideDrawer #drawer>
    <DockLayout tkDrawerContent class="drawer">
        <StackLayout class="sideStackLayout" width="100%" dock="top">
            <Button class="btn" *ngIf="!loggedIn" text="Log in" [nsRouterLink]="['user/login']" (tap)="closeDrawer()"></Button>
            <Button class="btn" *ngIf="loggedIn" text="Events" [nsRouterLink]="['events']" (tap)="closeDrawer()"></Button>
            <Button class="btn" *ngIf="loggedIn" text="Groups" [nsRouterLink]="['groups']" (tap)="closeDrawer()"></Button>
            <Button class="btn" *ngIf="loggedIn" text="My Profile" [nsRouterLink]="['user']" (tap)="closeDrawer()"></Button>
            <Button class="btn" *ngIf="loggedIn" text="Log out" (tap)="logout()" (tap)="closeDrawer()"></Button>
        </StackLayout>
        <StackLayout dock="bottom" verticalAlignment="bottom">
            <Image src="res://logo" width="60" class="logo" horizontalAlignment="left"></Image>
        </StackLayout>
    </DockLayout>
    <StackLayout tkMainContent>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>
