.ribbon.ribbon-event {
  padding: 8 20 0 15;
}

.btn-wrp {
  width: 85%;
}

.switch {
  margin: 14 16 14 0;
  background-color: #e0e0e0;
}

.event-date-selection .switch {
  margin: 0;
}

.switch[checked=true] {
  background-color: #F4550F;
  color: #F4550F;
}

.going-label {
  margin-top: 4;
}
