.ribbon.ribbon-event {
  padding: 0 20 0 15;
  background-position: -40 0;
}

.ribbon.ribbon-past-event {
  background-position: -20 0;
}

.btn-wrp {
  width: 100%;
}

.switch[checked=true] {
  background-color: #4CD964;
}
