.drawer .user-wrp {
  background-size: 400 234;
}

.no-image.large,
.cntnr.user-profile {
  background-size: 370 216;
}

.ribbon.ribbon-event {
  padding: 8 20 0 15;
  background-position: -105 0;
}

.ribbon.ribbon-past-event {
  background-position: -60 0;
}

.btn-wrp {
  width: 85%;
}

.switch {
  margin: 14 16 14 0;
  background-color: #e0e0e0;
}

.event-date-selection .switch {
  margin: 0;
}

.switch[checked=true] {
  background-color: #4CD964;
  color: #4CD964;
}

.going-label {
  margin-top: 4;
}
