.drawer {
  background-color: #f1f1f2;
}

.btn {
  margin: 0;
  padding: 15 10;
  font-size: 18;
  color: #000;
  text-align: left;
  background-color: rgba(255, 0, 0, 0.0);
  border-color: rgba(255, 0, 0, 0.0);
  border-width: 1;
}

.btn-icon,
.btn-text {
  vertical-align: middle;
}

.btn-icon {
  width: 60;
  padding-top: 2;
  font-size: 26;
  text-align: center;
}

.btn-text {
  font-size: 20;
}

.logo {
  height: 60;
  margin: 0 0 0 25;
  font-size: 80;
  color: #949495;
}

.active {
  color: #F4550F;
}

.user-wrp {
  height: 110;
  margin: 0 0 10;
  padding-top: 10;
  border-bottom-width: 1;
  border-color: #e3e3e6;
  background-color: #f1f1f2;
  background-image: url("res://background_no_image");
  background-size: 400 234;
}

.user-name {
  color: #000;
  text-align: center;
}

.user-image >>> .no-image.large,
.user-image >>> .image-wrp,
.user-image >>> Image {
  width: 70;
  height: 70;
  border-radius: 35;
  background-image: none;
}

.user-image >>> .no-image.large,
.user-image >>> .image-wrp {
  border-width: 2;
  border-color: #fff;
}

.user-image >>> .no-image.large {
  background-color: #ededed;
}

.user-image >>> .no-image.large .icon.if {
  margin-top: 13;
  font-size: 34;
}

.user-image >>> .image-wrp Image {
  background-color: #fff;
}
