<StackLayout>
    <ActionBar (loaded)="actionBarLoaded($event)" title="">
        <NavigationButton *ngIf="isAndroid" icon="res://icon_menu" (tap)="toggleDrawer()"></NavigationButton>
        <ActionItem *ngIf="!isAndroid" ios.position="left" (tap)="toggleDrawer()">
            <StackLayout>
                <Label class="button if" text="&#x62;"></Label>
            </StackLayout>
        </ActionItem>
    </ActionBar>
    <RadSideDrawer #drawer>
        <DockLayout tkDrawerContent class="drawer">
            <StackLayout class="sideStackLayout" width="100%" dock="top">
                <StackLayout class="user-wrp">
                    <StackLayout *ngIf="user">
                        <photo-picker class="user-image" [url]="user.ImageUrl" [type]="'user'" [noImageIcon]="'&#x46;'"></photo-picker>
                        <Label class="user-name" [text]="user.DisplayName || user.Username"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout orientation="horizontal" class="btn" (tap)="navigate('events')" [class.active]="isActive('events')">
                    <Label class="btn-icon if" text="&#x45;"></Label>
                    <Label class="btn-text" text="Events"></Label>
                </StackLayout>

                <StackLayout orientation="horizontal" class="btn" (tap)="navigate('groups')" [class.active]="isActive('groups')">
                    <Label class="btn-icon if" text="&#x48;"></Label>
                    <Label class="btn-text" text="Groups"></Label>
                </StackLayout>

                <StackLayout orientation="horizontal" class="btn" (tap)="navigate('user')" [class.active]="isActive('user')">
                    <Label class="btn-icon if" text="&#x46;"></Label>
                    <Label class="btn-text" text="My Profile"></Label>
                </StackLayout>

                <StackLayout orientation="horizontal" class="btn" (tap)="navigate('settings')" [class.active]="isActive('settings')">
                    <Label class="btn-icon if" text="&#x4f;"></Label>
                    <Label class="btn-text" text="Settings"></Label>
                </StackLayout>

                <StackLayout orientation="horizontal" class="btn" (tap)="logout()">
                    <Label class="btn-icon if" text="&#x49;"></Label>
                    <Label class="btn-text" text="Log out"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout dock="bottom" verticalAlignment="bottom">
                <Label class="logo if" text="&#x4e;" horizontalAlignment="left"></Label>
            </StackLayout>
        </DockLayout>

        <StackLayout tkMainContent>
            <ng-content></ng-content>
        </StackLayout>
    </RadSideDrawer>
</StackLayout>
