.cntnr {
  background-color: #F4550F;
  height: 100%;
  padding: 15%;
}

.user-info-cnt >>> Image {
  width: 125;
  height: 125;
  border-radius: 25;
  border-width: 1;
  border-color: #fff;
  transform: translateY(65);
}

.user-label {
  margin-bottom: 5;
  font-size: 12;
  color: #F4550F;
  text-transform: uppercase;
}

.user-info-cnt {
  padding: 15;
  background-color: #fff;
}

.user-info-block {
  margin: 10 0;
}

.user-info-editable-value {
  color: #000;
}
