.cntnr {
  background-color: #F4550F;
  height: 100%;
  padding: 15;
}

.user >>> .no-image.large,
.user >>> Image {
  width: 130;
  height: 130;
  border-radius: 75;
  border-width: 2;
  border-color: #fff;
}

.user >>> .no-image.large {
  background-color: #ededed;
}

.user >>> .no-image.large .icon {
  font-size: 80;
}

.user >>> Image {
  background-color: #fff;
}

.user-label {
  margin-bottom: 5;
  font-size: 12;
  color: #F4550F;
  text-transform: uppercase;
}

.user-info-cnt {
  padding: 15;
  background-color: #fff;
}

.user-info-block {
  margin: 10 0;
}

.user-info-editable-value {
  color: #000;
  placeholder-color: white; /* hides the "null" placeholder for ios, when model is null */
}
