.cntnr {
  background-color: #F4550F;
  padding: 15;
  background-image: url("res://background_profile");
}

.user >>> .no-image.large,
.user >>> .image-wrp,
.user >>> .container.large .image-wrp AbsoluteLayout,
.user >>> .container.large .image-wrp AbsoluteLayout .icon-wrp,
.user >>> Image {
  width: 130;
  height: 130;
  border-radius: 75;
  background-image: none;
}

.user >>> .no-image.large,
.user >>> .image-wrp {
  border-width: 2;
  border-color: #fff;
}

.user >>> .no-image.large {
  background-color: #ededed;
}

.user >>> .no-image.large .icon.if {
  margin-top: 20;
  font-size: 80;
}

.user >>> Image {
  background-color: #fff;
}

.user-label {
  margin-bottom: 5;
  font-size: 12;
  color: #F4550F;
  text-transform: uppercase;
}

.user-pad,
.user-info-cnt {
  background-color: rgba(255, 255, 255, .9);
}

.user-info-cnt {
  padding: 15;
}

.user-info-block {
  margin: 10 0;
}

.user-info-editable-value {
  color: #000;
  placeholder-color: rgba(0, 0, 0, 0.001); /* hides the "null" placeholder for ios, when model is null */ 
}
