<ScrollView class="cntnr">
    <ActionBarExtension>
        <NavigationButton *ngIf="isAndroid" icon="res://icon_back" (tap)="onBack()"></NavigationButton>
        <ActionItem *ngIf="!isAndroid" ios.systemIcon="1" ios.position="left" (tap)="onBack()"></ActionItem>
        <!--<ActionItem (tap)="onAdd()" *ngIf="canAdd"
            ios.systemIcon="4" android.systemIcon="ic_menu_add"
            ios.position="right">
        </ActionItem>-->
    </ActionBarExtension>

    <StackLayout *ngIf="eventDates.length" class="content">
        <StackLayout *ngFor="let date of eventDates" class="group-wrp">
            <GridLayout columns="*, 80" rows="auto">
                <Label col="0" row="0" class="info-label" [text]="date | date:dateFormat" textWrap="true"></Label>
                <StackLayout col="1" row="0">
                    <Label class="vote" horizontalAlignment="right" [text]="getVotesText(date)"></Label>
                </StackLayout>
            </GridLayout>
            <user-list *ngIf="hasVoters(date)" [users]="getParticipants(date)"></user-list>
            <Label *ngIf="!hasVoters(date)" text="Nobody voted for this date" textWrap="true" class="no-voters"></Label>
        </StackLayout>

        <!--<StackLayout *ngIf="hasOldDates()">
            <Label class="info-label" text="Dates that were deprecated" textWrap="true"></Label>
            <Label *ngFor="let date of getOldDates()" [text]="date | date:dateFormat" textWrap="true" class="no-voters"></Label>
        </StackLayout>-->
    </StackLayout>

    <ScrollView class="cntnr">
        <ActivityIndicator [busy]="!participants" [visibility]="participants ? 'collapse' : 'visible'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </ScrollView>
</ScrollView>
