.cntnr {
  height: 100%;
  background-color: #fff;
}

.content {
  padding: 20;
}

.info-label,
.vote {
  margin-bottom: 10;
  font-size: 12;
  color: #F4550F;
  text-transform: uppercase;
}

.vote {
  color: #9c9c9c;
}

.group-wrp {
  margin-bottom: 30;
}

.no-voters {
  padding: 10 0;
}
