.cntnr {
  height: 100%;
  background-color: #fff;
}

.info-container {
  padding: 15;
}

.info-wrapper {
  margin: 15 0 0 0;
  padding-bottom: 15;
  border-width: 0;
  border-bottom-width: 1;
  border-color: #ADADAD;
}

.info-wrapper.no-separator {
  border-width: 0;
}

.info-wrapper .info-label {
  margin-bottom: 5;
  font-size: 12;
  color: #F4550F;
  text-transform: uppercase;
}

.user-image,
.expandable {
  vertical-align: middle;
}

.user-image {
  width: 30;
  height: 30;
  border-radius: 50%;
}

.info-icon {
  width: 25;
  height: 25;
  horizontal-align: right;
}

.tbd {
  margin-left: 5;
}

.expandable Label {
  margin-left: 5;
  font-size: 12;
  font-weight: bold;
}
