.app-modal-cntnr {
  width: 100%;
  height: 100%;
  padding-left: 20;
  padding-right: 20;
  vertical-align: center;
  background-color: #fff;
}

.controls-wrapper {
  margin-top: 25;
}

.btn-wrp {
  width: 75%;
}

.btn-primary {
  margin-bottom: 20;
}

.btn-small {
  color: #888;
}

.app-modal-title {
  margin-bottom: 20;
  color: #F4550F;
  text-align: center;
  font-size: 24;
}

.app-modal-text {
  color: #000;
  text-align: center;
  font-size: 14;
}
