<StackLayout class="app-modal-cntnr">
    <Label *ngIf="title" class="app-modal-title" [text]="title"></Label>
    <Label *ngIf="text" class="app-modal-text" [text]="text"></Label>

    <ng-content></ng-content>

    <StackLayout class="controls-wrapper" *ngIf="buttons">
        <StackLayout class="btn-wrp">
            <Label class="btn btn-primary" [text]="buttons.ok" (tap)="onOk()"></Label>
        </StackLayout>
        <Label class="btn btn-small" [text]="buttons.cancel" (tap)="onCancel()"></Label>
    </StackLayout>
</StackLayout>
