.app-modal-cntnr {
  height: 100%;
  width: 100%;
  background-color: white;
}

.controls-wrapper {
  margin-top: 25;
}

.btn-small {
  color: #888;
}

.app-modal-title {
  color: #F4550F;
  text-align: center;
  font-size: 24;
}

.app-modal-text {
  color: #000;
  text-align: center;
  font-size: 13;
}
