<StackLayout id="dismissableAnchor" class="app-modal-cntnr" [ngClass]="{ 'no-fullscreen': !fullscreen, 'just-loading': justLoading }">
    <Label *ngIf="title" class="app-modal-title" [text]="title" textWrap="true"></Label>
    <Label *ngIf="text" class="app-modal-text" [text]="text" textWrap="true"></Label>

    <ng-content></ng-content>
    <ActivityIndicator [busy]="justLoading" [visibility]="!justLoading ? 'collapse' : 'visible'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>

    <StackLayout class="controls-wrapper" *ngIf="buttons">
        <StackLayout class="btn-wrp">
            <Label *ngIf="buttons.ok" class="btn btn-primary" [text]="buttons.ok" (tap)="onOk()" textWrap="true"></Label>
        </StackLayout>
        <Label *ngIf="buttons.cancel" class="btn btn-small" [text]="buttons.cancel" (tap)="onCancel()" textWrap="true"></Label>
    </StackLayout>
</StackLayout>
