<StackLayout>
    <TextField hint="Username" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.username" ></TextField>
    <TextField hint="Password" secure="true" [(ngModel)]="user.password" ></TextField>

    <StackLayout *ngIf="!isSignupView">
        <Button text="Log in" (tap)="login()" ></Button>
        <Button text="Sign Up" (tap)="changeView(true)"></Button>
    </StackLayout>
    <StackLayout *ngIf="isSignupView">
        <Button text="Sign Up" (tap)="signup()" ></Button>
        <Button text="Log in" (tap)="changeView(false)"></Button>
    </StackLayout>
</StackLayout>
