.main-container {
  height: 640;
  margin-left: 40;
  margin-right: 40;
  padding-bottom: 15;
  vertical-align: center;
}

text-field {
  border-width: 0 0 1 0;
  border-color: #ffffff;
  color: #ffffff;
  placeholder-color: #ffffff;
}

button {
  margin-bottom: 20;
}

.initial-label {
  color: #ffffff;
  horizontal-align: center;
  margin-bottom: 80;
}

.initial-button {
  color: #ffffff;
  height: 35;
  horizontal-align: center;
  vertical-align: center;
}
