<ScrollView class="cntnr">
    <ActionBarExtension>
        <ActionItem (tap)="onAdd()" ios.position="right">
            <StackLayout>
                <Label class="button if" text="&#x61;"></Label>
            </StackLayout>
        </ActionItem>
    </ActionBarExtension>

    <StackLayout *ngIf="isInitialized() && !hasAnyGroups" class="no-items">
        <Label class="if" text="&#x6e;"></Label>
        <Label text="No groups yet" [textWrap]="true" class="title"></Label>
        <StackLayout>
            <Label text="Oops... It's empty in here. Let's get started!" [textWrap]="true"></Label>
            <StackLayout class="actions">
                <Label text="Create Group" class="btn btn-primary" (tap)="onAdd()"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>

    <TabView #groupsTabView [(ngModel)]="selectedIndex" class="tab-view" tabsBackgroundColor="#F4550F" selectedTabTextColor="#fff" tabTextColor="#ccc" selectedColor="#eee">
        <StackLayout *tabItem="{ title: 'My Groups' }" class="tab-item">
            <StackLayout class="tab-items-wrapper" [ngClass]="{ 'no-groups': userGroups && !userGroups.length }">
                <ActivityIndicator [busy]="!userGroups" [visibility]="userGroups ? 'collapse' : 'visible'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
                <group-list *ngIf="userGroups && userGroups.length" [groups]="userGroups" [areUserGroups]="true" [hasMore]="hasMoreUserGroups" (onGroupTap)="selectGroup($event)" (scrolledToBottom)="loadMoresUserGroups()"></group-list>
                <StackLayout *ngIf="userGroups && !userGroups.length" class="no-items">
                    <Label class="if" text="&#x6e;"></Label>
                    <Label text="It's time to join a group!" [textWrap]="true" class="title"></Label>
                    <StackLayout>
                        <Label text="Join your friends and let the fun begin." [textWrap]="true"></Label>
                        <StackLayout class="actions">
                            <Label text="Browse all Groups" class="btn btn-primary" (tap)="goToTab(1)"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{ title: 'All Groups' }" class="tab-item">
            <StackLayout class="tab-items-wrapper" [ngClass]="{ 'no-groups': publicGroups && !publicGroups.length }">
                <ActivityIndicator [busy]="!publicGroups" [visibility]="publicGroups ? 'collapse' : 'visible'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
                <group-list *ngIf="publicGroups && publicGroups.length" [groups]="publicGroups" [hasMore]="hasMoreUnjoined" (onGroupTap)="selectGroup($event)" (scrolledToBottom)="loadMoresUnjoinedGroups()"></group-list>
                <StackLayout *ngIf="publicGroups && !publicGroups.length" class="no-items">
                    <Label class="if" text="&#x6e;"></Label>
                    <Label text="No groups yet" [textWrap]="true" class="title"></Label>
                    <StackLayout>
                        <Label text="Oops... It's empty in here. Let's get started!" [textWrap]="true"></Label>
                        <StackLayout class="actions">
                            <Label text="Create Group" class="btn btn-primary" (tap)="onAdd()"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </TabView>
</ScrollView>
