TextField {
  margin-bottom: 20;
  border-color: #ffffff;
  color: #ffffff;
  placeholder-color: #ffffff;
}

.main-container {
  margin-left: 30;
  margin-right: 30;
  vertical-align: center;
}

.logo {
  margin-top: 20;
  margin-bottom: 30;
}

.btn {
  margin-bottom: 10;
}
