TextField {
  margin-bottom: 20;
  border-color: #ffffff;
  color: #ffffff;
  placeholder-color: #ffffff;
}

.main-container {
  height: 100%;
  margin-left: 20;
  margin-right: 20;
  vertical-align: center;
}

.logo {
  margin-top: 20;
  margin-bottom: 30;
}

.btn {
  margin-bottom: 10;
}

.btn-small {
  background-color: rgba(255, 0, 0, 0.0);
  border-color: rgba(255, 0, 0, 0.0);
  border-width: 1;
}
