<ScrollView class="form main-container">
    <StackLayout>
        <Image src="res://logo" class="logo"></Image>
        <StackLayout class="input-field">
            <TextField hint="Email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.username" ></TextField>
        </StackLayout>
        <StackLayout class="input-field">
            <TextField hint="Password" secure="true" [(ngModel)]="user.password" ></TextField>
        </StackLayout>
        <StackLayout class="input-field" *ngIf="isSignupView">
            <TextField hint="Confirm Password" secure="true" [(ngModel)]="user.confirmPassword" ></TextField>
        </StackLayout>
        <StackLayout *ngIf="!isSignupView">
            <Button text="Log in" (tap)="login()" class="btn btn-primary"></Button>
            <Button text="Forgot your password?" (tap)="resetPassword()" class="btn btn-small"></Button>
            <Button text="Don't have an account yet? Sign up" (tap)="changeView(true)" class="btn btn-small"></Button>
        </StackLayout>
        <StackLayout *ngIf="isSignupView">
            <Button text="Sign Up" (tap)="signup()" class="btn btn-primary"></Button>
            <Button text="Back to login" (tap)="changeView(false)" class="btn btn-small"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>
