TextField {
  margin-bottom: 20;
  border-color: #ffffff;
  color: #ffffff;
  placeholder-color: #ffffff;
}

.main-container {
  height: 100%;
  vertical-align: center;
  background-image: url("res://background");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.form {
  padding: 20 0;
}

.form StackLayout {
  margin-right: 55;
  margin-left: 55;
}

.logo-wrp {
  width: 260;
  margin-right: 55;
  margin-left: 55;
}

.logo {
  margin-top: 20;
  margin-bottom: 30;
}

.input-field {
  padding-right: 0;
  padding-left: 0;
}

.btn {
  margin-right: 0;
  margin-left: 0;
}

.btn-small {
  background-color: rgba(255, 0, 0, 0.0);
  border-color: rgba(255, 0, 0, 0.0);
  border-width: 1;
  font-size: 14;
}
