.item {
  padding: 10 0;
}

.user-display,
.organizer {
  vertical-align: middle;
}

.organizer {
  margin-left: 5;
  font-size: 12;
}

.user-display >>> Image,
.user-display >>> .no-image {
  width: 30;
  height: 30;
  margin-right: 5;
  border-radius: 15;
  background-color: rgba(0, 0, 0, .35);
}
