.form {
  padding: 20;
}

.input-field.switch-field {
  padding: 13 0 15;
  border-width: 0 0 1 0;
  border-color: #ebebed;
}

.input-field.switch-field .label,
.input-field.switch-field .switch {
  vertical-align: middle;
}

.input-field.switch-field .switch {
  margin: 0;
}
