<ScrollView class="list-events">
    <StackLayout>
        <StackLayout *ngFor="let event of events; let isLast = last" (tap)="eventTap(event)">
            <WrapLayout class="event-name-wrp">
                <Label [text]="event.Name" textWrap="true" class="event-name"></Label>
                <Label *ngIf="userIsRegistered(event.Id) && !isPastEvent(event)" class="registered-label" text="Registered"></Label>
            </WrapLayout>
            <GridLayout columns="auto, *" class="event-date-wrp">
                <Label *ngIf="getEventDate(event)" [text]="getEventDate(event) | date:dateFormat | uppercase" col="0" class="event-date" textWrap="true"></Label>
                <Label [text]="getRemainingTime(event)" class="event-remaining-time" [attr.col]="getEventDate(event) ? 1 : 0"></Label>
            </GridLayout>

            <photo-picker [evName]="event.Name" [url]="event.ImageUrl" [type]="'event'" [noImageIcon]="'&#x77;'" [noImageText]="'No image available'"></photo-picker>

            <Label [text]="event.Description" textWrap="true" class="event-description"></Label>
            <GridLayout columns="auto, auto, *" class="event-organiser">
                <user-display [users]="event.Organizer" [showNames]="true"></user-display>
                <Label text=" | " col="1" textWrap="true" class="user-name"></Label>
                <Label [text]="event.Group" col="2" class="group"></Label>
            </GridLayout>

            <Label class="event-list-separator" *ngIf="!isLast" text=""></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>
