.main-container {
  height: 100%;
  background-color: #fff;
}

.list-events {
  height: 100%;
}

.event-name,
.event-date-wrp,
.event-description,
.event-organiser,
.event-list-separator {
  margin: 10 20;
}

.event-date-wrp,
.event-organiser {
  font-size: 14;
  color: #ADADAD;
}

.event-name {
  margin-bottom: 0;
  font-size: 28;
  color: #F4550F;
}

.event-remaining-time {
  horizontal-align: right;
}

.event-organiser {
  margin-bottom: 20;
}

.event-organiser >>> Image,
.user-name,
.group {
  vertical-align: middle;
}

.event-organiser >>> Image {
  width: 30;
  height: 30;
  margin-right: 10;
  border-radius: 30;
}

.event-list-separator {
  border-width: 0;
  border-bottom-width: 1;
  border-color: #adadad;
  height: 1;
}
