.main-container {
  height: 640;
  background-color: #ffffff;
}

.list-events {
  height: 640;
}

.event-name,
.event-date-wrp,
.event-description,
.event-organiser {
  margin: 10 30;
}

.event-date-wrp,
.event-organiser {
  color: #ADADAD;
}

.event-name {
  margin-bottom: 0;
  font-size: 30;
  color: #F4550F;
}

.event-remaining-time {
  horizontal-align: right;
}

.event-organiser {
  margin-bottom: 20;
}
