/* this is angular2 syntax :| */
.list-wrapper >>> Image {
  width: 30;
  height: 30;
  margin-right: 5;
  border-radius: 15;
  background-color: rgba(0, 0, 0, .35);
}

.user-image,
.user-name {
  vertical-align: middle;
}

.user-name {
  margin-left: 5;
  color: #000;
}

.remaining-users {
  color: #000;
}
