.user-image,
.user-name {
  vertical-align: middle;
}

.user-name {
  margin-left: 5;
  color: #000;
}

.remaining-users {
  color: #000;
}

.user-wrapper {
  margin-left: 3;
}

.user-wrapper.first {
  margin-left: 0;
}
