<StackLayout class="cntnr">
    <ActionBarExtension>
        <NavigationButton *ngIf="isAndroid" icon="res://icon_back" (tap)="onCancel()"></NavigationButton>
        <ActionItem *ngIf="!isAndroid" ios.systemIcon="1" ios.position="left" (tap)="onCancel()"></ActionItem>
        <ActionItem (tap)="onCreate()" ios.position="right">
            <StackLayout>
                <Label text="Done" class="button"></Label>
            </StackLayout>
        </ActionItem>
    </ActionBarExtension>
    <ScrollView class="cntnr">
        <StackLayout>
            <editable-group [group]="group"></editable-group>
        </StackLayout>
    </ScrollView>
</StackLayout>
