<StackLayout class="ctnr">
    <ActionBarExtension>
        <NavigationButton *ngIf="isAndroid" android.systemIcon="ic_menu_back" (tap)="onCancel()"></NavigationButton>
        <ActionItem *ngIf="!isAndroid" ios.systemIcon="1" ios.position="left" (tap)="onCancel()"></ActionItem>
        <ActionItem>
            <Label text="Create Group"></Label>
        </ActionItem>
        <ActionItem ios.systemIcon="9" android.systemIcon="btn_check_buttonless_on" (tap)="onCreate()"></ActionItem>
    </ActionBarExtension>
    <editable-group [group]="group"></editable-group>
</StackLayout>
